<% include partials/header %> 
<head>
  <link rel="stylesheet" href="stylesheets/main.css">
</head>
<div class="container">
  <div class="row">
    <div class="col-md-6 order-md-2">
      <img class=' img-thumbnail' src="https://s3.us-east-2.amazonaws.com/midwestspray/spraymanv2.jpg">
    </div>
    <div class="col-md-6 order-md-1">
      <h1 id="quality" ><strong>Trusted Cincinnati Paint Contractor</strong><h1>
      <h2 id ="services"><strong>Services</strong></h2>
    <div class="service-items">
      <h3><strong>Contract Painting</strong></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id enim posuere, iaculis augue nec, accumsan mauris. Duis dapibus bibendum porttitor. Vestibulum sed eleifend libero. Etiam arcu lorem, commodo eget tempus ac, blandit vitae metus. Suspendisse lacinia nisi vel diam placerat porttitor</p>
      <h3><strong>Servicing Equipment</strong></h3>
        <p>Proin non leo quis mi auctor ullamcorper eget ut risus. Integer eget euismod enim, vulputate semper justo. Vivamus venenatis elit lectus, a tincidunt lectus egestas non. Nulla vel lobortis sem. Mauris vitae velit lectus. Aliquam quis convallis velit, pulvinar tempor mi.</p>
      <h3><strong>Other</strong></h3>
        <p>Proin non leo quis mi auctor ullamcorper eget ut risus. Integer eget euismod enim, vulputate semper justo. Vivamus venenatis elit lectus, a tincidunt lectus egestas non. Nulla vel lobortis sem. Mauris vitae velit lectus. Aliquam quis convallis velit, pulvinar tempor mi.</p>
      </div>
    </div>
</div>


<% include partials/footer %> 