.contact {
    border: none;
    width: 100%;
    padding: 5px;
    margin: 50px 10px 10px 10px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         5px 5px 5px 4px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}



h1 {
    font-size: 4em;
}
h2 {
    text-decoration: underline;
    margin: 10px;
    
}

p:hover { 
    color: #ae2012;
}

 #map {
    width: 100%;
    height: 250px;
    background-color: grey;
    margin: 0 auto;
            }

.form {
    margin-bottom: 30px;
}

.contact-message {
    margin: 50px 0 20px 0;
}

.animated-underline {
    color: #ae2012;
    text-decoration: none !important;
    display: inline-block;
    cursor: default;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 5px;
    
}

.animated-underline:after {
    content: '';
    display: block;
    width: 0%;
    height: 5px;
    background-color: #ae2012;
    transition: width .7s;
    text-decoration: none;
    color: #ae2012;
}

.animated-underline:hover:after {
    width:100%;
    transition: width .7s;
    background-color: #ae2012;
    text-decoration: none;
}

a:hover {
  color: #ae2012;
  text-decoration: none!important;
}

